<div class="shopoverview-container col-xs-12">
  <div class="data-categories col-xs-12 col-sm-4">
    <ul class="graph-list">
      <li>
        <%= link_to 'Shipments Status', shop_shipmentsgraph_path(@shop.id), remote: true %>

        </li>
      <li>
        <%= link_to 'Top Origins', shop_origin_path(@shop.id), remote: true %>

        </li>
      </li>
      <li>
        <%= link_to 'Top Destinations', shop_destination_path(@shop.id), remote: true %>
      </li>
      <li>
        <%= link_to 'Shop Customers', shop_customercreated_path(@shop.id), remote: true %>
      </li>
    </ul>
  </div>
  <div class="graphs-container col-xs-12 col-sm-8">
        <%= render :partial => "shipmentsgraph"%>
  </div>
</div>

