<% content_for :title, @shop.name.to_s %>


  <div class="data-list col-xs-6 col-sm-4 col-md-3">

    <div class="avatar-background col-xs-12">
        <img class="avatar-large" src="https://randomuser.me/api/portraits/men/90.jpg" alt="">
    </div>

    <div class="user-box col-xs-12">
              <h3 class="col-xs-12">
                <%= @shop.name %>
              </h3>

              <h4 class="col-xs-12">
                Freight Capacity:
                <%= @shop.freight_capacity %>
              </h4>
              <h4 class="col-xs-12">
                Service Value:
                <%= @shop.service_value %>
              </h4>

    </div>
    <div class="data-options col-xs-12">
      <% if @shop.user === current_user %>
        <ul>
            <li class="col-xs-12 shipment-button">
            <%= link_to "User Profile", dashboard_path%>
          </li>
          <li class="col-xs-12 shipment-button">
            <%= link_to "Shipment Overview", shop_shipments_path(@shop), remote: true%>
          </li>
          <li class="col-xs-12">
            <%= link_to "Customer Overview", shop_customers_path(@shop), remote: true%>
          </li>
          <li class="col-xs-12">
            <%= link_to "Requests", user_requests_path(current_user.id), remote: true%>
          </li>
        </ul>
      <% else %>
        <ul>
          <li class="col-xs-12">
              <%= link_to "Customer Sign In", customer_shop_session_path(@shop) %>
          </li>
          <li class="col-xs-12">
              <%= link_to "Customer Sign Up", new_customer_shop_registration_path(@shop) %>
          </li>
          <li class="col-xs-12">
              <%= link_to "Customer Sign Out", destroy_customer_shop_session_path(@shop), method: :delete %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="data col-xs-6 col-sm-8 col-md-9">

  </div>


