
<div class="shipment-container container col-xs-12">
  <div class="shipment-top">
    <div class="col-xs-4">
        <h3>Your Customers</h3>
    </div>

  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Occupation</th>
        <th style="text-align: center;">Total Transactions</th>
      </tr>
    </thead>
    <tbody id="shipmentList">
          <% @customers.each_with_index do |customer, index| %>
            <tr>
              <th scope="row"><%= image_tag(customer.images, class: "avatar")  %></th>
              <td><%= customer.first_name %> <%= customer.last_name %></td>
              <td><%= customer.occupation %></td>
              <td><%= customer.requests.count %></td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div>
