<div class="shipment-container container col-xs-12">
  <div class="shipment-top">
    <div class="col-xs-4">
        <h3>Booking Requests</h3>
        <div class="col-xs-4">
        <h4>Amount: <%= @requests.count %></h4>
        <h5>
            <%= link_to "All", user_requests_path(current_user.id), remote: true%>
        </h5>
          <%= link_to "Accepted", accepted_user_requests_path(current_user.id), remote: true%>
        <h5>
          <%= link_to "Pending", pending_user_requests_path(current_user.id), remote: true%>
        </h5>
        <h5>
          <%= link_to "Declined", declined_user_requests_path(current_user.id), remote: true%>
        </h5>
    </div>
    </div>

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th style="text-align: center;">Status</th>
        <th style="text-align: center;">Customer</th>
        <th style="text-align: center;">Confirmation</th>
        <th style="text-align: center;">Freight Rate</th>
        <th style="text-align: center;">Freight Capacity</th>
      </tr>
    </thead>
    <tbody>
          <% @requests.each_with_index do |request, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= request.status %></td>
              <td><%= Customer.find(request.customer_id).first_name %>
                <%= Customer.find(request.customer_id).last_name %>
              </td>
              <td><%= request.customer_confirmation %></td>
              <td><%= number_to_currency(request.proposal) %></td>
              <td style="text-align: center;">
              </td>
              <td><%= link_to "Freight Capacity", shop_request_freight_capacity_path(@shop, request.id, request.freight_capacity.id), { :remote => true, 'data-toggle' => 'modal', 'data-target' => "#exampleModal" } %></td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div>
