<div class="shipment-container container col-xs-12">
  <div class="shipment-top">
    <div class="col-xs-4">
        <h3>Booking Requests</h3>
  </div>
  <div class="col-xs-12">
        <ul class="col-xs-12 horizontal-list">
          <li>
            Status:
          </li>
          <li>
            <%= link_to "All", user_requests_path(current_user.id), remote: true%>
          </li>
          <li>
          <%= link_to "Accepted", accepted_user_requests_path(current_user.id), remote: true%>
          </li>
          <li>
          <%= link_to "Pending", pending_user_requests_path(current_user.id), remote: true%>
          </li>
          <li>
          <%= link_to "Declined", declined_user_requests_path(current_user.id), remote: true%>
          </li>
          <li style="float:right">
            Amount: <%= @requests.count %>
          </li>
        </ul>
    </div>
    <div class="col-xs-12">
        <ul class="col-xs-12 horizontal-list">
          <li>
            Transportation Type:
          </li>
          <li>
            <%= link_to "All", user_requests_path(current_user.id), remote: true%>
          </li>
          <li>
            <%= link_to "Air", air_user_requests_path(current_user.id), remote: true%>
          </li>
          <li>
            <%= link_to "Rail", rail_user_requests_path(current_user.id), remote: true%>
          </li>
          <li>
            <%= link_to "Ocean", ocean_user_requests_path(current_user.id), remote: true%>
          </li>
        </ul>
    </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th style="text-align: center;">Status</th>
        <th style="text-align: center;">Customer</th>
        <th style="text-align: center;">Freight Rate</th>
        <th style="text-align: center;">Freight Capacity</th>
      </tr>
    </thead>
    <tbody>
          <% @requests.each_with_index do |request, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= request.status %></td>
              <td><%= Customer.find(request.customer_id).first_name %>
                <%= Customer.find(request.customer_id).last_name %>
              </td>
              <td><%= number_to_currency(request.proposal) %></td>
              <td><%= link_to "Freight Capacity", user_request_freight_capacity_path(current_user, request.id, request.freight_capacity.id), { :remote => true, 'data-toggle' => 'modal', 'data-target' => "#exampleModal" } %></td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div>
