
<div class="shipment-container container col-xs-12">
  <div class="shipment-top">
    <div class="col-xs-4">
        <h3>Your Shipments</h3>
    </div>
    <div class="col-xs-12">
        <ul class="col-xs-12 horizontal-list">
          <li>
            Status:
          </li>
          <li>
            <%= link_to "All", shop_shipments_path(@shop), remote: true%>
          </li>
          <li>
            <%= link_to "Completed", complete_shop_shipments_path(@shop), remote: true%>
          </li>
          <li>
            <%= link_to "Open", open_shop_shipments_path(@shop), remote: true%>
          </li>
          <li>
            <%= link_to "Received", received_shop_shipments_path(@shop), remote: true%>
          </li>
          <li style="float:right">
            Amount: <%= @shipments.count %>
          </li>
        </ul>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th style="text-align: center;">Status</th>
        <th style="text-align: center;">Origin</th>
        <th style="text-align: center;">Destination</th>
        <th style="text-align: center;">Volume</th>
        <th style="text-align: center;">Service Value</th>
        <th style="text-align: center;">Freight Info</th>
      </tr>
    </thead>
    <tbody id="shipmentList">
          <% @shipments.each_with_index do |shipment, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= shipment.status %></td>
              <td><%= shipment.origin %></td>
              <td><%= shipment.destination %></td>
              <td><%= shipment.freight_capacity.volume %></td>
              <td><%= number_to_currency(shipment.freight_capacity.service_value) %></td>
              <td><%= link_to "Freight Capacity", shop_shipment_freight_capacity_path(@shop, shipment.id, shipment.freight_capacity.id), { :remote => true, 'data-toggle' => 'modal', 'data-target' => "#exampleModal" } %></td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div>

